.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.container {
	width: 100%;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 834px;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 1024px;
	}
}
